<template>
  <div id="app">
    <ul class="bg-green-900 border-8 border-green-600 flex items-center">
      <li class="p-3">
        <a href="/films" class="text-white hover:text-green">Films</a>
      </li>
      <li class="p-3">
        <a href="/inspire" class="text-white hover:text-green">Suggerimenti</a>
      </li>
    </ul>
  </div>
</template>


<script>
import "./tailwind.css";

export default {
  name: 'App'
}
</script>

<style>

</style>
